---
layout: info
title: Schedule
billboard_class: billboard-celebrations
---

<section class="container content-section text-center">
  <!-- <h1>Schedule</h1> -->
</section>
<div class="inline-1">
  <section class="make-me-fit">
    {% for event in site.events[site.context] %}
      <!-- <div class="row col-lg-offset-{% cycle 2, 3 %} col-lg-5 col-sm-6">

      </div> -->
      <!-- <section class="col-lg-offset-{% cycle 2, 3 %} {% cycle 'content-left', 'content-right' %}">

        <div class="col-lg-12 col-lg-offset-{% cycle 0, 6 %}">  -->
      <section class="col-lg-offset-2 "> <!--content-left-->

          <div class="col-lg-12 col-lg-offset-0"> <!-- col-sm-offset-2 col-sm-8-->
            <h2>
              {{ event.name }}
              <br>
              <small>
                {{ event.date }} | {{ event.time }}
              </small>
            </h2>
            <!--col-lg-offset-{% cycle 0, 4 %}-->
            <div class="row "> 
              <address class="col-xs-6">
                <strong>{{ event.location_name }}</strong><br>
                <a href="{{ event.google_maps_url }}">
                  {{ event.address1 }}<br>
                  {{ event.address2 }}<br>
                </a>
              </address>

              <!-- <dl class="col-sm-4">
                <dt>Attire</dt>
                <dd>{{ event.attire }}</dd>
              </dl> -->

            </div>

            <p>{{ event.description }}</p>
            
            {% if event.transportation %}
              <p><em>{{ event.transportation }}</em></p>
            {% endif %}

            {% if event.shuttle %}
              <p><em>{{ event.shuttle }}</em></p>
            {% endif %}

          </div>
        
      </section>

    {% endfor %}
  </section>
  <script src="/js/celebration.js"></script>
  <!-- <section class="sideboard sideboard-celebrations-side"></section> -->
</div>
