---
layout: default
invisible_nav: true
---

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
          <h1 class="brand-heading" font-size="80%">Tess & Kash</h1> <!-- Bring up a little bit-->
            <div class="row">
                    <!-- <h1 class="brand-heading" font-size="80%">Tess & Kash</h1>  -->
                    <p class="intro-text">
                      {% if site.context == 'san' %}
                        May 2025
                        <br>
                        San Diego, California
                      {% else %}
                        April 19, 2025
                        <br>
                        4 PM - 10 PM
                        <br>
                        Glen Foerd on the Delaware
                        <br>
                        5001 Grant Avenue
                        <br>
                        Philadelphia, Pennsylvania, 19114
                      {% endif %}
                      <br>
                    </p>
            </div>
        </div>
    </div>
</header>

<!-- <section id="ourstory" class="row-header text-center">
  <div >
    <div class="col-md-10 col-md-offset-2">
        <h1 class="brand-heading" font-size="80%">Tess & Kash</h1> 
        <p class="intro-text"> 
          {% if site.context == 'san' %}
            May 2025
            <br>
            San Diego, California
          {% else %}
            April 19, 2025
            <br>
            4 PM - 10 PM
            <br>
            Glen Foerd on the Delaware
            <br>
            5001 Grant Avenue
            <br>
            Philadelphia, Pennsylvania, 19114
          {% endif %}
          <br>
        </p>
</div>
</section> -->

<!-- <section class="billboard billboard-two"></section> -->

<section id="ourstory" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>Our Story</h2>
            <p>
            <font size="+2">
              A story as old as time. Tess and Kash met the same way their parents, grandparents, and other couples met for millennia: 
            </font>
            </p>
            <p>
            <font size="+2">
            On an online Star Wars game. 
            </font>
            </p>
            <p>
            <font size="+2">
            After first interacting in 2005-2006, Tess and Kash remained friends and casually kept in touch via Facebook. 
              Despite Kash being from San Diego and Tess from Philadelphia, they remained excited about each other's journey through life, school, relationships, and evolving interests. It truly didn't seem that 2,500 miles was much of a barrier in maintaining their friendship.
            </font>
            </p>
        </div>
    </div>
</section>

<section class="billboard billboard-two"></section>

<section id="ourstory" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>The College Years</h2>
            <p>
            <font size="+2">
              In 2015, when Kash entered his PhD program and Tess entered her PharmD program, their relationship greatly strengthened. Both embroiled in the stress of their rigorous curriculums, they began to find deep comfort in each other's company at the end of their long days.
              A shoulder to cry on, an ear to listen, in this way, love naturally and easily began to develop. 
            </font>
            </p>
             <p>
            <font size="+2">
              In 2017, they took the plunge and the two of them agreed to finally meet in person!  Tess booked a flight to College Station, TX where Kash was living at the time.
              It was there at the airport that they finally locked eyes and went for an embracing hug. Later that day, after Kash gifted Tess a necklace, they agreed to be 
              committed to one another. 
            </font>
            </p>
            <p>
            <font size="+2">
              For the first four years of their relationship, Tess and Kash remained long distance, 
              attempting to fly as frequently as they were able to.
            </font>
            </p>
        </div>
    </div>
</section>

<section class="billboard billboard-three"></section>

<section id="ourstory" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>The Big Move</h2>
            <p><font size="+2">
              Tess and Kash completed their residency and graduate programs in 2021 and it was then that Tess moved to San Diego to finally be with Kash. The long distance was now over! 
            </font>
            </p>
            <p>
            <font size="+2">
              After nearly 3 years of establishing life in beautiful San Diego, they adopted two fur babies 
              (Bandito and Toulouse), purchased a home, and have been enjoying all of life's moments together. It was clear what Kash had to do next... 
            </font></p>
        </div>
    </div>
</section>

<section class="billboard billboard-four"></section>

<section id="ourstory" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <h2>The Proposal</h2>
            <p>
            <font size="+2">
              On 11/11/2023, Kash and Tess took a road trip to Julian, CA. With a beautiful clear blue sky, crisp autumn weather and the warm California sun above, they went on a hike. Surrounded by nature and peace, at the top of the hill, Kash got on his knee and asked Tess if she would marry him.
            </font>
            </p>  
            <p>
            <font size="+2">
              They are so excited to begin their journey as husband and wife soon! Thank you all so much for being part of this momentous occassion! We can't wait to celebrate with you all!
            </font>
            </p>
            <p>
            <font size="+2">
              With Much Love,
              <br>
              Tess & Kash
            </font>
            </p>
        </div>
    </div>
</section>

<section class="billboard billboard-five"></section>
